<%= form_for(@wardrobe) do |f| %>
  <% if @wardrobe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wardrobe.errors.count, "error") %> prohibited this wardrobe from being saved:</h2>

      <ul>
      <% @wardrobe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :clothing_id %><br>
    <%= f.collection_select :clothing_id, Clothing.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
