<p id="notice"><%= notice %></p>

<h1>Listing Clothing Attrs</h1>

<table>
  <thead>
    <tr>
      <th>Clothingfield</th>
      <th>Clothing</th>
      <th>Value</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @clothing_attrs.each do |clothing_attr| %>
      <tr>
        <td><%= ClothingField.find(clothing_attr.clothing_field_id).name %></td>
        <td><%= Clothing.find(clothing_attr.clothing_id).name %></td>
        <td><%= clothing_attr.value %></td>
        <td><%= link_to 'Show', admin_clothing_attr_path(clothing_attr) %></td>
        <td><%= link_to 'Edit', edit_admin_clothing_attr_path(clothing_attr) %></td>
        <td><%= link_to 'Destroy', admin_clothing_attr_path(clothing_attr), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clothing attr', new_admin_clothing_attr_path %>
